/* feed */

div.properties__row  {
    display: block;
    justify-content: space-between;
    position: relative;
    min-height: 1.5rem;
    max-height: 4rem;
}

div.fill-remaining-space {
    flex: auto;
}

hr.header-rule {
  height: 0;
  width: 100%;
  border: 0.5px solid var(--accent);
  border-radius: 0.5px;
  font-size: 2rem;
}

p.properties {
    padding-top: 0 !important;
}

div.home  {
    width: 100%;
}

div.home>a  {
    text-decoration: none;
}

h2.p-name  {
    margin-top: 1rem;
}

.icon {
    color: var(--color-secondary);
    position: relative;
}

svg.feather {
    height: 1.25rem;
}

ul#feed__ul {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: var(--content-width);
    min-width: 100%;
}

li.feed__li {
    list-style-type: none;
    position: relative;
    margin: var(--item-margin) 0;
    margin-bottom: calc(var(--item-margin) * 2);
    z-index: 2;
}

.e-content>ul {
    line-height: 1;
    padding-bottom: 0px !important;
}

/* Lol what a mess */
.e-content>ul>li>ul {
    line-height: 1;
    margin-top: -0.75em;
}

div.feed__content {
    overflow: hidden;
    word-wrap: break-word;
}

#open {
    position: relative;
    width: 100%;
    padding: 0;
    padding-top: 1rem;
    max-width: 100%;
    background-color: var(--item-bg);
    text-align: center;
}

#open>a {
    z-index: 2;
}

#tag-list {
    margin: 0.5rem 2rem;
    list-style-type: disc;
}

#tag {
    z-index: 2;
    margin: 0 0.25rem !important;
}
