/*
Made by Todd Davies
*/

:root {
    --shadow-shape: 0 20px 80px;
    --color-shadow: rgba(0, 0, 0, .2);
    --border-radius: 3rem;
    --content-width: 800px;
    --spin-time: 2s;
    --circle-size: 100px;
}

@media (prefers-color-scheme: light) {
    :root {
        --color-bg: linear-gradient(336deg, #ca2db0d7, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #9de7f9, rgba(0,255,0,0) 70.71%),
            linear-gradient(90deg, #ffcc5d, rgba(0,255,0,0) 70.71%),
            linear-gradient(217deg, #52ffc5, rgba(0,0,255,0) 70.71%);
       --item-bg: #f5f5f5;
       --accent: #ca2db0;
   }

   a {
        color: #000000;
   }
}

@media (prefers-color-scheme: dark) {
    :root {
       --color-bg: linear-gradient(0deg, #142908,#232007, #211007, #20070d);
       --item-bg: #373f47;
       --accent: rgb(0, 174, 174);
   }

   a {
        color: var(--accent));
    }
}

@font-face {
    font-family: Macintosh;
    src: url(/fonts/mac.ttf);
}

body {
    font-family: "Computer Modern Typewriter Variable", Macintosh, monospace !important;
    font-size: 16px !important;
    background: var(--color-bg);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    font-family: "Computer Modern Sans", Macintosh, monospace !important;
    font-style: bold;
}

address {
    font-family: "Computer Modern Bright Semibold", Macintosh, monospace !important;
    font-style: normal;
}

a {
    text-decoration: underline;
    text-decoration-color: var(--accent);
}

a:hover {
    text-shadow: 0px 0px 1px var(--accent);
}

address a {
    color: var(--accent);
    text-shadow: 0px 0px #ffff0083;
}

/* Floaty card effect */

@keyframes float {
    0% {
        transform: translatey(0%);
    }
    50% {
        transform: translatey(-5%);
    }
    100% {
        transform: translatey(0%);
    }
}

div#author-flex {
    align-items: flex-start;
}

div.feed__li {
    box-shadow: var(--shadow-shape) var(--color-shadow);
    background-color: var(--color-bg);
    border-radius: var(--border-radius);
}

/* Images in entries */

.enclosure {
    border-radius: var(--border-radius);
}

/* Cloud separator */

hr {
    overflow: visible;
    border: 0;
    position: relative;
    font-size: 3rem;
    display: block;
    height: 3rem;
    width: 3rem;
    font-family: Macintosh, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', monospace !important;
    border-color: var(--accent);
}

hr:before {
    font-size: 3rem;
    display: block;
    height: 3rem;
    width: 3rem;
    position: absolute;
    top: -1rem;
}

footer {
    min-height: 0rem;
}

/* Mobile mode */

@media only screen and (max-width: 414px) {
    .header {
        display: none;
    }

    h1, address {
        text-align: center;
    }
}

.hidden-photo {
    visibility: hidden;
    border-radius: 50%;
    border: 2px solid var(--accent);
}

.circle-wrapper {
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}

.circle-wrapper:hover, .circle-wrapper:active {
    --spin-time: 0.5s;
    transform: translate3D(-0%, -20%, 0) scale(1.25);
}

.circles {
    min-height: var(--circle-size);
    min-width: var(--circle-size);
    margin: 0 auto;
    top: 50%;
    left: 50%;
    animation: float 5s ease-in-out infinite;
    transform: translate3D(-0%, -0%, 0);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}

.circle {
    box-sizing: border-box;
    position: absolute;
    background: #FFFFFF00;
    width: var(--circle-size);
    height: var(--circle-size);
    border: 2px solid transparent;
    border-radius: 121% 128% 125% 124%/125% 120% 127% 125%
}
    .circle:nth-child(1) {
        transform-origin: 49.5% 50%;
        animation: spin1 var(--spin-time) linear infinite;
        border-color: var(--accent);
    }
    .circle:nth-child(2) {
        transform-origin: 50% 50.5%;
        animation: spin2 var(--spin-time) linear infinite;
        border-color: var(--accent);
    }
    .circle:nth-child(3) {
        transform-origin: 50.5% 50%;
        animation: spin3 var(--spin-time) linear infinite;
        border-color: var(--accent);
    }

@keyframes spin1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin2 {
    0% {
        transform: rotate(-144deg);
    }
    100% {
        transform: rotate(216deg);
    }
}

@keyframes spin3 {
    0% {
        transform: rotate(216deg);
    }
    100% {
        transform: rotate(-144deg);
    }
}